
* {
	outline: none;
}

.alert-box {
	transition: background-color 0.5s ease;
}

.view-container {
	opacity: 1;
	transition: opacity 0.25s;
}

.view-container.ng-enter {
	opacity: 0;
}

.view-container.ng-leave {
	opacity: 1;
}

.column+.column:last-child, 
.column+.columns:last-child, 
.columns+.column:last-child, 
.columns+.columns:last-child {
	float: left;
}
