
<form name="userRegister" ng-submit="userRegister.$valid && FormUserRegisterCtrl.submit()">

	<div class="row">
		<div class="medium-12 columns">
			<label>Email</label>
			<input type="email" 
				ng-model="FormUserRegisterCtrl.data.email" 
				ng-change="FormUserRegisterCtrl.checkFormState()"
				required />
		</div>
	</div>

	<div class="row">
		<div class="medium-6 columns">
			<label>First Name</label>
			<input type="text" 
				ng-model="FormUserRegisterCtrl.data.firstName" 
				ng-change="FormUserRegisterCtrl.checkFormState()"
				required />
		</div>

		<div class="medium-6 columns">
			<label>Last Name</label>
			<input type="text" 
				ng-model="FormUserRegisterCtrl.data.lastName" 
				ng-change="FormUserRegisterCtrl.checkFormState()"
				required />
		</div>
	</div>

	<div class="row">
		<div class="medium-6 columns">
			<label>Password</label>
			<input type="password" 
				ng-model="FormUserRegisterCtrl.data.password" 
				ng-change="FormUserRegisterCtrl.checkFormState()"
				required />
		</div>

		<div class="medium-6 columns">
			<label>Confirm Password</label>
			<input type="password" 
				ng-model="FormUserRegisterCtrl.data.confirmPassword" 
				ng-change="FormUserRegisterCtrl.checkPasswordMatch()" 
				required />
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns" ng-hide="FormUserRegisterCtrl.view.message == ''">
			<div class="alert-box radius {{FormUserRegisterCtrl.view.messageClass}}">
				{{FormUserRegisterCtrl.view.message}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<button class="{{FormUserRegisterCtrl.view.buttonClass}}">Register</button>
		</div>
	</div>

</form>