
<h4>Plan</h4>

<div ng-show="subscriptions.length == 0">
	<div><strong>Limited</strong></div>
	<div>Free</div>
	<button class="success" ng-click="FormUpdateBillingCtrl.upgrade()">Change Plan</button>
</div>

<div ng-show="subscriptions.length > 0">
	<div ng-repeat="subscription in subscriptions">
		<div><strong>{{subscription.plan.name}}</strong></div>
		<div>{{subscription.plan.amount/100 | currency}} / {{subscription.plan.interval}}</div>
	</div>
	<button class="secondary" ng-click="FormUpdateBillingCtrl.changePlan()">Change Plan</button>
</div>

<div class="row" ng-show="customer.delinquent">
	<div class="medium-12 columns">
		<div class="alert-box radius warning">
			Your account is delinquent!
		</div>
	</div>
</div>

<h4>Payment Methods</h4>

<div ng-show="sources.length == 0">
	<strong>No payment method on file.</strong>
</div>

<div ng-show="sources.length > 0">
	<div ng-repeat="source in sources | limitTo:1">
		<div>{{source.brand}} **** **** **** {{source.last4}}</div>
		<div>Exp. {{source.exp_month}}/{{source.exp_year}}</div>
		<div>{{source.address_line1}} {{source.address_line2}}</div>
		<div>{{source.address_city}}, {{source.address_state}}  {{source.address_zip}}</div>
	</div>
	<button class="secondary" ng-click="FormUpdateBillingCtrl.updateCard()">Update Card</button>
</div>
