
<form name="userPassword" ng-submit="userPassword.$valid && FormUserPasswordCtrl.submit()">

	<div class="row">
		<div class="medium-6 columns">
			<label>New Password</label>
			<input type="password" 
				ng-model="FormUserPasswordCtrl.data.password" 
				required />
		</div>

		<div class="medium-6 columns">
			<label>Confirm New Password</label>
			<input type="password" 
				ng-model="FormUserPasswordCtrl.data.confirmPassword" 
				ng-change="FormUserPasswordCtrl.checkPasswordMatch()" 
				required />
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns" ng-hide="FormUserPasswordCtrl.view.message == ''">
			<div class="alert-box radius {{FormUserPasswordCtrl.view.messageClass}}">
				{{FormUserPasswordCtrl.view.message}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<button class="{{FormUserPasswordCtrl.view.buttonClass}}">Save</button>
		</div>
	</div>

</form>