
<form name="forgotPassword" ng-submit="forgotPassword.$valid && FormForgotPasswordCtrl.submit()">

	<div ng-hide="FormForgotPasswordCtrl.view.showFields">
		<a ng-click="FormForgotPasswordCtrl.toggleFields()">Forgot Password?</a>
	</div>

	<div ng-show="FormForgotPasswordCtrl.view.showFields">

		<p>Enter your email address below and we'll send you password reset instructions.</p>

		<div class="row">
			<div class="medium-12 columns">
				<label>Email</label>
				<input type="email" 
					ng-model="FormForgotPasswordCtrl.data.email"
					ng-change="FormForgotPasswordCtrl.checkFormState()" 
					required />
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<button class="{{FormForgotPasswordCtrl.view.buttonClass}}">Send Reset Instructions</button>
				<a class="secondary button" ng-click="FormForgotPasswordCtrl.toggleFields()">Cancel</a>
			</div>
		</div>

	</div>

</form>