
<div ng-repeat="plan in plans">
	<div>
		<a class="tiny button" 
			ng-hide="plan.id == customer.subscriptions.data[0].plan.id" 
			ng-click="StripeChangePlanCtrl.changePlan(plan)">Choose Plan</a>

		<span class="tiny button secondary disabled"
			ng-show="plan.id == customer.subscriptions.data[0].plan.id">Current Plan</span>

		<span><strong>{{plan.name}}</strong></span>
		<span>{{plan.amount/100 | currency}} / {{plan.interval}}</span>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns" ng-show="message">
		<div class="alert-box radius {{messageClass}}">
			{{message}}
		</div>
	</div>
</div>
